@use "../../../../styles/index.scss" as *;

.password {
   margin-top: 2rem; 
}
.change-password {

  &_form {
    display: grid;
    gap: 1rem;
  }
}

.progress {
  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .progress-line {
    width: 100%; // Adjust as needed
    height: 10px;
    background-color: #e0e0e0;
    position: relative;
    margin: 20px 0;
    border-radius: 5px; // Optional: for rounded edges

    .progress-bar {
      height: 100%;
      background-color: #047857;
      transition: width 0.5s ease-in-out;
      border-radius: 5px; // Optional: for rounded edges
    }

    .progress-label {
      position: absolute;
      top: -25px; // Adjust as needed
      transform: translateX(-50%);
      font-size: 12px; // Adjust as needed
      color: #9e9e9e78; // Dim color for inactive
      transition: color 0.5s ease-in-out;

      &.active {
        color: #047857; // Bright color for active
      }
    }
  }

}

  .button-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin-bottom: 20px;
  }