@use "../../../../src/styles/index.scss" as *;

.bill-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;

  form {
    display: grid;
    gap: 1rem;
  }

  h1 {
    font-size: 20px;
    color: $primary;
    text-align: center;
    font-weight: 700;
  }

  &_comp {
    display: grid;
    border: 2px solid $gray;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background-color: white;

    div {
      display: flex;
      justify-content: space-between;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
      padding: 0.75rem 0;
      border-bottom: 2px solid $gray;

      &:last-child {
        border-bottom: none;
      }

      p {
        font-size: 15px;
        color: $text-primary;
        &:last-child {
          font-weight: 500;
          max-width: 15rem;
          text-align: right;
        }
      }
    }
  }

  &_btn {
    border: 1px solid green;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f0fdf4;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);
    color: green;

    .icon {
      font-size: 1.5rem;
    }
  }

   &_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &_btn {
      display: grid;
      gap: 1rem;
    }
  }
}
