@use "../../../../styles/index.scss" as *;

.verify-tickets {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include custom-media-query("mobile", $sm) {
    padding: 0;
  }

  &-comp {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    height: 100%;
    // margin-top: 1.5rem;

    &_header {
      margin-bottom: 2rem;

      @include custom-media-query("mobile", $sm) {
        margin-bottom: 0;
      }
    }

    &_details {
      .line-items {
        display: flex;
        justify-content: space-between;
        padding: px-to-rem(24px) 0;
        border-bottom: $border;

        @include custom-media-query("mobile", $md) {
          padding: px-to-rem(12px) 0;
        }

        p {
          &:nth-child(1) {
            color: $text-primary;
            font-size: 14px;

            &:last-of-type {
              // border: 2px solid red;
              font-weight: 700;
            }
          }
        }
      }

      .success {
        color: green;
        font-weight: 600;
        font-size: 1.25rem;
      }
      .failure {
        color: red;
        font-weight: 600;
        font-size: 1.25rem;
      }
    }
  }
}
