@use "../../../../styles/index.scss" as *;

.absaa {
  margin-bottom: 5rem;
}

.absaa-form {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;

  @include custom-media-query("mobile", $sm) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: center;
  }
}
